.about-section {
    background: #f5efe6;
    padding: 110px 7%;
    color: #2b140b;
}

.about-container {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.about-content {
    max-width: 650px;
}

.about-small-title {
    color: #b58a22;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.about-content h2 {
    font-size: 58px;
    line-height: 1.08;
    margin: 0;
    font-weight: 700;
}

.about-content h2 span {
    color: #b58a22;
}

.about-line {
    width: 75px;
    height: 4px;
    background: #b58a22;
    margin: 30px 0;
}

.about-text {
    color: #60483d;
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-button {
    margin-top: 15px;
    padding: 15px 30px;
    background: #b58a22;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.about-button:hover {
    background: #8e6918;
}


/* IMAGE AREA */

.about-image {
    width: 100%;
    min-height: 480px;
    background: linear-gradient( rgba(43, 20, 11, 0.35), rgba(43, 20, 11, 0.65)), url("/images/hero/hero-2.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 35px;
}

.about-image-box {
    color: #ffffff;
    border-left: 4px solid #d9ad32;
    padding-left: 20px;
}

.about-image-box span {
    display: block;
    font-size: 16px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

.about-image-box strong {
    font-size: 30px;
    letter-spacing: 2px;
}


/* TABLET */

@media (max-width: 900px) {
    .about-section {
        padding: 80px 6%;
    }
    .about-container {
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .about-content h2 {
        font-size: 45px;
    }
    .about-image {
        min-height: 400px;
    }
}


/* MOBILE */

@media (max-width: 600px) {
    .about-section {
        padding: 65px 5%;
    }
    .about-content h2 {
        font-size: 36px;
    }
    .about-text {
        font-size: 15px;
    }
    .about-image {
        min-height: 320px;
        padding: 25px;
    }
    .about-image-box strong {
        font-size: 23px;
    }
}